extends ../pug/layout.pug


block meta
  title Владимир Беседин | Режиссёр, продюсер, сценарист

block content

  section.intro
    .intro__head-wrap
      img(src='img/work_block.png', alt='')

    .row
      .col-xs-12.col-sm-12.order-xxs-2.order-xs-2.order-sm-2.col-md-8
        .page__ill-wrap.page__ill-wrap--margin-md
          img(src='img/photo01.png', alt='')
        .page__ill-caption Максим Малинин, Арсений Кан и Владимир Беседин на съёмках  тизера «Майор Гром: Чумной доктор»

      .col-xs-12.col-sm-12.order-xxs-1.order-xs-1.order-sm-1.col-md-4
        p.page__text(id='About') Владимир Беседин — режиссёр, продюсер и сценарист. Глава кинокомпании BUBBLE Studios (2015–2018). Режиссер и продюсер первого фильма по российским комиксам «Майор Гром».

    .row
      .col-xs-12.col-sm-12.col-md-12.col-md-12
        p.page__text Учился сценарному мастерству у наставника лучших голливудских сценаристов — Роберта Макки («Код да Винчи», «Властелин Колец»). Окончил курсы голливудского сценариста и драмматурга — Нила Ландау («Парк Юркского периода», «Человек-Паук»).
        p.page__text Получал профессиональные консультации у продюссеров крупнейших американских кинокомпаний: RatPac Entertainment, Silver Pictures, Getaway Productions, Disney и братьев Руссо — режиссёров крупнейших супергеройских боевиков Marvel Studios.
        h3.page__title.intro__subtitle Подход к съёмке
        p.page__text Реализует сложные технические решения для создания действительно эффектных экшн-сцен. На съёмках «Майора Грома», придумал технику «360 градусов».
    .intro__wrap-360
      img(src='img/work_block2.png', alt='')
    .row
      .col-xs-12.col-sm-12.order-xxs-2.order-xs-2.order-sm-2.col-md-8.col-lg-8
        .intro__img2-wrap
          img(src='img/photo02.png', alt='')
      .col-xs-12.col-sm-12.order-xxs-1.order-xs-1.order-sm-1.col-md-4.col-lg-4
        p.page__text.page__text--padding-left Для съёмок экшн-сцены «Майор Гром: Чумной доктор» была создана техника проезда камеры сквозь автомобили.
      .col-xs-12.col-sm-12.col-md-8.col-lg-8
        p.page__text Один из немногих российских режиссёров, который работает с раскадровками и сам разрабатывает цветокорекцию.
    .intro__wrap-color
      img(src='img/work_block3.png', alt='')
    .row
      .col-xs-12.xol-sm-12.col-md-8.col-lg-8
        .intro__img3-wrap
          img(src='img/photo03.png', alt='')
      .col-xs-12.col-sm-12.col-md-8.col-lg-8
        p.page__text Для создания саундтреков к фильмам о Майоре Громе работал с Романом Селивёрстовым, продюссером Red Hot Chili Peppers и обладателем Grammy – Райаном Хьюиттом и профессиональными музыкантами из студий «Abbey Road» в Лондоне и «Blackbird Studio» в Нешвилле.
      .col-xs-12.xol-sm-12.col-md-8.col-lg-8
        .page__ill-wrap
          img(src='img/photo04.png', alt='')
        .page__ill-caption Оркестр «Abbey Roads» в процессе создания саундтреков к проектам «Майор Гром» и «Майор Гром: Чумной Доктор»

  section.projects(id='Projects')
    .row
      .col-xs-12
          h2.projects__title Проекты

      -for(let i = 0; i < arrayTabs.length; i++)
        .col-xs-3.col-sm-2.col-md-2.col-lg-2
          h3.projects__tab-label(id=`${arrayTabs[i].id}`, class=`${(i == 0) ? 'projects__tab-label--active' : ''}`)= arrayTabs[i].title

    //- FILMS
    .projects__tab-wrap.projects__tab-wrap--active(id='tab-films')
      -for(let i = 0; i < arrayFilms.length; i++)
        .projects__item.projects__item--active(id=`${arrayFilms[i].id}`)
          .projects__item-wrap(id=`trig-${arrayFilms[i].id}`)
            img(src=`${arrayFilms[i].img}`, alt='')
          .projects__item-title= arrayFilms[i].title
        //- .projects__tab-content(id=`content-${arrayFilms[i].id}`, class=`${(i === 0) ? 'projects__tab-content--active' : ''}`)
        .projects__tab-content(id=`content-${arrayFilms[i].id}`)
          -if (i === 0)
            include ../pug/tab-grom.pug
          -if (i === 1)
            include ../pug/tab-doc.pug

    //- CLIPS
    .projects__tab-wrap(id='tab-clips')
      -for(let i = 0; i < arrayClips.length; i++)
        .projects__item.projects__item--active(id=`${arrayClips[i].id}`)
          .projects__item-wrap(id=`trig-${arrayClips[i].id}`)
            img(src=`${arrayClips[i].img}`, alt='')
          .projects__item-title= arrayClips[i].title
        //- .projects__tab-content(id=`content-${arrayClips[i].id}`, class=`${(i === 0) ? 'projects__tab-content--active' : ''}`)
        .projects__tab-content(id=`content-${arrayClips[i].id}`)
          -if (i === 0)
            include ../pug/trab-mayak.pug
          -if (i === 1)
            include ../pug/tab-bit.pug


  section.news
    .news-wrap
      .row
        .col-xs-12
          h2.page__title Новости
    .news__gallery
      .news__gallery-wrap(id='news-slider')
        -for(let i = 0; i < newsSlider.length; i++)
          .news__slide
            .news__slide-wrap
              img(src=`${newsSlider[i].img}`, alt="")
              a.news__slide-link(href=`${newsSlider[i].link}`)
                p.news__slide-caption= newsSlider[i].title


  section.contacts.row(id='Contacts')
    .col-xs-12
      p.page__title Хотите с нами работать? #[br] #[span.page__title--warning –] Свяжитесь с менеджером
      h2.contacts__title Контакты
      p.contacts__text #[a.contacts__link(href='mailto:svstahneva@gmail.com') svstahneva@gmail.com] менеджер Светлана

block footer
  footer.row
    +social-links(arraySocialLinks, 'col-xs-4 col-sm-4 col-md-4 col-lg-4')
    .footer.col-xs-12.col-sm-12.col-md-4.col-md-4 © 2020 #[span Владимир Беседин] Все права защищены.
